*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.rotate {
  animation: spin .2s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
#swap:active {
  transform: scale(1.4);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #5f7cff, #a06cd5);
}
.container h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 6px;
  
  
  
}
.container{
  /* width: 100%;
  max-width: 380px; */
  border: solid rgb(64, 16, 141) 6px;
  padding: 30px 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

}

.container h5 {
  text-align: center;
  font-weight: 4040;
  opacity: 0.8;
  margin-bottom: 25px;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: 14px;
  opacity: 0.9;
}

input,
select {
  width: 100%;
  padding: 12px 14px;

  border-radius: 12px;
  border: none;
  outline: none;

  font-size: 15px;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

#swap {
  align-self: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  background: linear-gradient(-135deg, #6a85ff, #9f6cff);
  color: white;

  cursor: pointer;
}

button[type="submit"] {
  margin-top: 10px;

  padding: 14px;
  border-radius: 14px;
  border: none;

  background: linear-gradient(135deg, #4e8cff, #a65bff);
  color: white;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

button[type="submit"]:hover {
  opacity: 0.5;
}

#result {
  margin-top: 20px;
  text-align: center;

  font-size: 22px;
  font-weight: 600;
}

